.AdminSignInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EEAECA;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  min-height: 100vh;
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
}

.FormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.InputField {
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.SubmitButton {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.SubmitButton:hover {
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}

/* Responsive for tablet and mobile */
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  .FormContainer {
    padding: 20px;
    max-width: 300px;
  }

  .InputField {
    padding: 12px;
    font-size: 14px;
  }

  .SubmitButton {
    padding: 12px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .FormContainer {
    padding: 15px;
    max-width: 260px;
  }

  .InputField {
    padding: 10px;
    font-size: 13px;
  }

  .SubmitButton {
    padding: 10px;
    font-size: 16px;
  }
}


.PasswordFieldWrapper {
  position: relative;
  width: 100%;
}

.passwordInput {
  padding-right: 50px; /* Space for eye icon */
}

.TogglePassword {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

/* For mobile screens */
@media (max-width: 768px) {
  .TogglePassword {
    font-size: 18px;
    right: 10px;
  }
}
